body {
    font-family: Roboto, Arial;
    margin-top: 200px;
}

.game-icon {
    position: relative;
    display: inline-block;    
}

.game-icon:hover .game-icon-hover{
    display: inline;
}

.game-icon .game-icon-hover {
    display: none;
    position: absolute;
    top:0;
    left:0;
    z-index:99;
}

.games {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    margin: 0px;
}

.game-icon-hover .game-icon-default {
    width: 50px;
}

img {
    width: 200px;
}

.game-name {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}
