.cell {
    width: 75px;
    height: 75px;
    border: 2px solid;
    box-shadow: 0 0 0 2px;
    line-height: 75px;
    font-size: 50px;
    cursor: pointer;
}

#gameContainer {
    font-family: "Permanenet Marker", cursive;
    text-align: center;
}

/*    font-family: "Finger Paint", cursive;
*/

#gameBoard {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 225px;
    margin: auto;
}

button {
    padding: 5px 10px;
    border-radius: 10px;
    transition: 200ms transform;
    font-weight: 600;
    border-color: black;
}

button:hover {
    cursor: pointer;
    transform: translateY(-2px);
}