/* General */
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: grid;
  grid-template-columns: 120px repeat(4, 1fr);
  grid-template-rows: 100px repeat(4, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

section {
  grid-area: 2 / 2 / 6 / 6;
}

.title {
  font-size: 2em;
  font-weight: bold;
  align-items: top;
  width: 150%;
}

.score-bar {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  width: 100%;
  margin: 5% 0;
}

.score {
  display: flex;
  font-size: 18px;
  font-weight: bold;
}

.split {
  height: 100%;
  width: 25%;
  position: fixed;
  overflow-x: hidden;
  align-items: top;
  margin: 0 25%;
}

.left {
  left: 0;
  border-right: 1px dashed #ccc;
}

.right {
  right: 0;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  column-gap: 10px;
  align-items: center;
}


.player-choice-img,
.computer-choice-img {
  background: center no-repeat lightgray;
  color: transparent;
  width: 150px;
  height: 150px;
  margin-top: 10%;
  margin-bottom: 10%;
  border-radius: 50px;
  border: none;
  color: transparent;
  font-size: 1.5em;
  box-shadow: none;
}

button {
  width: 70px;
  height: 70px;
  border-radius: 15px;
  border: none;
  color: transparent;
  font-size: 1.5em;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  margin-top: 125%;
}

.buttons {
  display: flex;
  column-gap: 15px;
}

.rock,
.scissors,
.paper {
  width: 80px;
  height: 80px;
  background: #aaa;

  border: 1px solid #444;
  border-radius: 40px;

  margin-right: 10px;
  cursor: pointer;

  transition: all .1s ease;
}

.rock:hover,
.scissors:hover,
.paper:hover {
  background-size: 56px 56px;
}

.rock {
  background: url("icons/rock.png") center no-repeat;
  background-size: 50px 50px;
}

.scissors {
  background: url("icons/scissors.png") center no-repeat;
  background-size: 50px 50px;
}

.paper {
  background: url("icons/paper.png") center no-repeat;
  background-size: 50px 50px;
}

.result {
  font-size: 2em;
  font-weight: bold;
}