* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  row-gap: 30px;
}

.score-bar {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: top;
  /* margin-bottom: 100px; */
  width: 50%;
}

.score {
  display: flex;
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  
}

.split {
  height: 30%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
  margin-top: 225px;
}
  
.left {
  left: 0;
  border-right: 1px dashed #ccc;
}

.right {
  right: 0;
}
  
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  column-gap: 10px;
  align-items: center;
}

.choice-img {
  border: 0;
}

.player-choice-img, .computer-choice-img {
  background: center no-repeat;
  /* background-size: 150px 150px; */
  color: transparent;
  width: 150px;
  height: 150px;
  margin-top: 10%;
  margin-bottom: 10%;
}

button {
  width: 70px;
  height: 70px;
  border-radius: 15px;
  border: none;
  color: transparent;
  font-size: 1.5em;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  margin-top: 125%;
}

.buttons {
  display: flex;
  column-gap: 15px;
}

.rock, .scissors, .paper {
  width: 80px;
  height: 80px;
  background: #aaa;

  border: 1px solid #444;
  border-radius: 40px;

  margin-right: 10px;
  cursor: pointer;

  transition: all .1s ease;
}

.rock:hover, .scissors:hover, .paper:hover{
  background-size: 56px 56px;
}
  
.rock {
  background: url("rock.png") center no-repeat;
  background-size: 50px 50px;
}

.scissors {
  background: url("scissors.png") center no-repeat;
  background-size: 50px 50px;
}

.paper {
  background: url("paper.png") center no-repeat;
  background-size: 50px 50px;
}
  
.result {
  font-size: 2em;
  font-weight: bold;
}

.title {
  font-size: 2em;
  font-weight: bold;
}