.sidebar {
    width: 100%;
    grid-area: 2 / 1 / 6 / 2;
}

.sidebar-link {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    padding: 5%;
    margin-top: 50px;
    margin-left: 15px;
}

.sidebar-link:hover {
    background-color: rgb(235, 235, 235);
}

.sidebar-link img {
    margin-bottom : 4px;
    width: 100%;
}

.sidebar-link div {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
        Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 100%;
    font-weight: bold;
    color:black;
    text-decoration: none;    
    text-align: center;
}